.image-list
    margin-top: 114px
    @media ( max-width: $mobile-media-width )
        margin-top: 50px
    &__row
        display: flex
        flex-wrap: wrap
        gap: 30px
        @media ( max-width: $tablet-media-width )
            justify-content: center
        @media ( max-width: $mobile-media-width )
            gap: 17px
    &__item
        height: 453px
        width: 473px
        transition: .3s
        background-repeat: no-repeat
        background-position: 50%
        background-size: cover
        cursor: pointer
        @media ( max-width: $tablet-media-width )
            width: 100%

        @media ( max-width: $mobile-media-width )
            height: 321px

        &:hover
            transform: scale(1.1)

        &-container
            width: max-content
            overflow: hidden
            border-radius: 8px
            @media ( max-width: $tablet-media-width )
                width: 100%
